@{
    IEnumerable<ModelLastFiveUser> lastfives = ViewBag.lastfive;
}

<div class="card ">
    <div class="card-header">
        <h5>Last 5 Team Members</h5>
        <div class="card-header-right">
            <ul class="list-unstyled card-option">
                <li><i class="fa fa fa-wrench open-card-option"></i></li>
                <li><i class="fa fa-window-maximize full-card"></i></li>
                <li><i class="fa fa-minus minimize-card"></i></li>
                <li><i class="fa fa-refresh reload-card"></i></li>
                <li><i class="fa fa-trash close-card"></i></li>
            </ul>
        </div>
    </div>
    <div class="card-block">
        @foreach (var user in lastfives)
        {
            <div class="align-middle m-b-30">
                <img src="../files/assets/images/@user.ProfilePic" alt="user image" class="img-radius img-40 align-top m-r-15">
                <div class="d-inline-block">
                    <h6>@user.AccountId</h6>
                    <p class="text-muted m-b-0">@user.DisplayName</p>
                </div>
            </div>
        }

    </div>
</div>