
@{
    Layout = null;
    var user = Context.Session.Get<LoginUser>("loginuser");
}

<div class="col-xl-3 col-sm-6">
    <partial name="_databox" model='new DataBoxModel {Icon="group",IconColor="green",Text="Total Team member",Data="0" }' />
</div>
<div class="col-xl-3 col-sm-6">
    <partial name="_databox" model='new DataBoxModel {Icon="street-view",IconColor="red",Text="Right Count",Data="0" }' />
</div>
<div class="col-xl-3 col-sm-6">
    <partial name="_databox" model='new DataBoxModel {Icon="street-view",IconColor="yellow",Text="Right Count",Data="0" }' />
</div>
<div class="col-xl-3 col-sm-6">
    <partial name="_databox" model='new DataBoxModel {Icon="money",IconColor="green",Text="Total Earning",Data="0" }' />
</div>
<div class="col-xl-3 col-sm-6">
    <partial name="_databox" model='new DataBoxModel {Icon="mail-reply",IconColor="red",Text="Payout Withdrawal",Data="0" }' />
</div>
<div class="col-xl-3 col-sm-6">
    <partial name="_databox" model='new DataBoxModel {Icon="money",IconColor="green",Text="Pending Payout",Data="0" }' />
</div>
<div class="col-xl-3 col-sm-6">
    <partial name="_databox" model='new DataBoxModel {Icon="magic",IconColor="yellow",Text="Magic Topup Team",Data="0" }' />
</div>
<div class="col-xl-3 col-sm-6">
    <partial name="_databox" model='new DataBoxModel {Icon="money",IconColor="green",Text="Magic Topup Earning",Data="0" }' />
</div>

<div class="col-sm-6 col-xl-3">
    <div class="card user-card">
        <div class="card-block text-center">
            <div class="usre-image">
                <img src="../files/assets/images/avatar-4.jpg" class="img-radius" alt="User-Profile-Image">
            </div>
            <h6 class="m-t-25 m-b-10">@user.username</h6>
            <p class="text-muted">Team Meber</p>
            <button class="btn btn-primary d-block">View Profile</button>

        </div>
    </div>

</div>
<div class="col-xl-3 col-sm-6">
    <partial name="_databox" model='new DataBoxModel {Icon="user-circle",IconColor="yellow",Text="Total Direct",Data="0" }' />
    <div class="card text-center bg-c-purple text-white">
        <div class="card-block">
            <img src="~/files/assets/images/ekyc.png" alt="prodimg" class="img-fluid img-80 img-radius">
            <h5 class="m-b-15 m-t-15">Not Done</h5>
            <h6 class="m-b-0">Aadhar updated</h6>
        </div>
    </div>
</div>

<div class="col-sm-6 col-xl-3">
    <div class="card ">
        <div class="card-header">
            <h5>Last 5 Team Members</h5>
            <div class="card-header-right">
                <ul class="list-unstyled card-option">
                    <li><i class="fa fa fa-wrench open-card-option"></i></li>
                    <li><i class="fa fa-window-maximize full-card"></i></li>
                    <li><i class="fa fa-minus minimize-card"></i></li>
                    <li><i class="fa fa-refresh reload-card"></i></li>
                    <li><i class="fa fa-trash close-card"></i></li>
                </ul>
            </div>
        </div>
        <div class="card-block">
            <div class="align-middle m-b-30">
                <img src="../files/assets/images/avatar-2.jpg" alt="user image" class="img-radius img-40 align-top m-r-15">
                <div class="d-inline-block">
                    <h6>David Jones</h6>
                    <p class="text-muted m-b-0">Developer</p>
                </div>
            </div>
            <div class="align-middle m-b-30">
                <img src="../files/assets/images/avatar-1.jpg" alt="user image" class="img-radius img-40 align-top m-r-15">
                <div class="d-inline-block">
                    <h6>David Jones</h6>
                    <p class="text-muted m-b-0">Developer</p>
                </div>
            </div>
            <div class="align-middle m-b-30">
                <img src="../files/assets/images/avatar-3.jpg" alt="user image" class="img-radius img-40 align-top m-r-15">
                <div class="d-inline-block">
                    <h6>David Jones</h6>
                    <p class="text-muted m-b-0">Developer</p>
                </div>
            </div>
            <div class="align-middle m-b-30">
                <img src="../files/assets/images/avatar-4.jpg" alt="user image" class="img-radius img-40 align-top m-r-15">
                <div class="d-inline-block">
                    <h6>David Jones</h6>
                    <p class="text-muted m-b-0">Developer</p>
                </div>
            </div>
            <div class="align-middle m-b-10">
                <img src="../files/assets/images/avatar-5.jpg" alt="user image" class="img-radius img-40 align-top m-r-15">
                <div class="d-inline-block">
                    <h6>David Jones</h6>
                    <p class="text-muted m-b-0">Developer</p>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="col-xl-3 col-md-6">
    <div class="card statustic-progress-card">
        <div class="card-block">
            <div class="row align-items-center">
                <div class="col">
                    <i class="fa fa-user f-20 m-b-10"></i>
                    <h6 class="text-muted">Today joinings</h6>
                </div>
                <div class="col text-right">
                    <h5 class="text-c-blue">30</h5>
                </div>
            </div>
            <span class="label label-info">Left joining : 10</span>
            <div class="progress m-t-15">

                <div class="progress-bar bg-c-blue" style="width:10%"></div>
            </div>
            <hr />
            <span class="label label-info">Right joining : 20</span>
            <div class="progress m-t-15">

                <div class="progress-bar bg-c-blue" style="width:20%"></div>
            </div>
        </div>
    </div>

    @await Component.InvokeAsync("MagicClubStatus")

</div>